<html>
    <head>
        <title>
            Redirect
        </title>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script>
            var toke = "{{token}}"
            var err = "{{error}}"
            
            function validate()
            {
                console.log(err)
                if(err=='None')
                {
                    console.log('Calling AJAX')
                }
                else
                {
                    console.log('Calling err')
                    call_error()
                }
            }

            function call_ajax()
            {
                $.ajax({
                    type:"GET",
                    url:"https://127.0.0.1:5500/access",
                    // url:"https://localhost:5500/access",
                    
                    headers:
                    {
                        "Authorization": 'Bearer ' + toke
                    },
    
                    success: function(res)
                    {
                        console.log('Sucess')
                        console.log(res)
                        authorized(res)
                    },
                    error:function(error)
                    {
                        console.log('error')
                        console.log(error)
                        unauthorized()
                    }
                })
            }

            function get_details()
            {
                console.log(err)
                call_ajax()
            }
    
            function authorized(data)
            {
                var p1 = document.createElement('p')
                var p2 = document.createElement('p')
                p1.appendChild(document.createTextNode('Email: ' + data.email))
                p2.appendChild(document.createTextNode('Username: ' + data.username))
                document.body.appendChild(p1)
                document.body.appendChild(p2)
            }
            function unauthorized()
            {
                var h2 = document.createElement('h2')
                h2.appendChild(document.createTextNode('You are Not authorized'))
                document.body.appendChild(h2)
            }
            function call_error()
            {
                var h2 = document.createElement('h2')
                h2.appendChild(document.createTextNode(err))
                document.body.appendChild(h2)
            }
            
         </script>

    </head>
    <body onload="validate()">
        <h1>Successsfull Redirect</h1>

        <a href="https://127.0.0.1:5500/">Back</a>
        <button onclick="get_details()">Get Access</button>
        <p>Token: {{token}}</p>
    </body>
</html>