<!DOCTYPE html>
<html>
    <head>
    <title>
        Notun
    </title>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </head>
    <body>
        <input class="sub" value="Discord Login" type="submit" onclick="httpGetDiscord()">
        <a href="login"><button>Google</button></a>
        <input class="sub" value="Google Login" type="submit" onclick="httpGetGoogle()">
        <input class="sub" value="LinkedIn Login" type="submit" onclick="httpGetLinkedIn()">
        <input class="sub" value="Facebook Login" type="submit" onclick="httpGetFacebook()">
    </body>
    
</html>